<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>マイレッスン</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<main>

    </section>


        </div>



                </span>

            </span>

            </span>

            </span>

        </span>

        </span>

                    <span th:if="${reservation.submissionCount > 0}">
        </span>

                    <a th:href="@{/submissions/new/{reservationId}(reservationId=${reservation.id})}"
                       class="btn btn-primary">
                        動画を提出する
                    </a>

                                   class="btn btn-secondary">
                                </a>

                        </div>

                    </div>

</main>

</body>
</html>