<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.golf.app.golfapp.mapper.LessonMapper">

    <select id="findAll" resultType="com.golf.app.golfapp.model.Lesson">
        SELECT
        lessons.*,
        accounts.name AS pro_name
        FROM lessons
        JOIN accounts
        ON lessons.pro_id = accounts.id
        ORDER BY lessons.id DESC
    </select>

    <select id="findById" resultType="com.golf.app.golfapp.model.Lesson">
        SELECT
        lessons.*,
        accounts.name AS pro_name
        FROM lessons
        JOIN accounts
        ON lessons.pro_id = accounts.id
        WHERE lessons.id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO lessons (
        pro_id,
        title,
        content,
        image,
        video,
        cause,
        improvement,
        practice,
        category
        ) VALUES (
        #{proId},
        #{title},
        #{content},
        #{image},
        #{video},
        #{cause},
        #{improvement},
        #{practice},
        #{category}
        )
    </insert>

    <update id="update">
        UPDATE lessons
        SET
        title = #{title},
        content = #{content},
        image = #{image},
        video = #{video},
        cause = #{cause},
        improvement = #{improvement},
        practice = #{practice},
        category = #{category}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM lessons
        WHERE id = #{id}
    </delete>

    <select id="findByCategory" resultType="com.golf.app.golfapp.model.Lesson">
        SELECT
        lessons.*,
        accounts.name AS pro_name
        FROM lessons
        JOIN accounts
        ON lessons.pro_id = accounts.id
        WHERE lessons.category = #{category}
        ORDER BY lessons.id DESC
    </select>

    <select id="findByProId"
            parameterType="long"
            resultType="com.golf.app.golfapp.model.Lesson">
        SELECT
        lessons.*,
        accounts.name AS pro_name
        FROM lessons
        JOIN accounts
        ON lessons.pro_id = accounts.id
        WHERE lessons.pro_id = #{proId}
        ORDER BY lessons.id DESC
    </select>

</mapper>