<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.golf.app.golfapp.mapper.LessonMapper">

    <select id="findAll" resultType="com.golf.app.golfapp.model.Lesson">
        SELECT *
        FROM lessons
        ORDER BY id DESC
    </select>

    <select id="findById" resultType="com.golf.app.golfapp.model.Lesson">
        SELECT *
        FROM lessons
        WHERE id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO lessons (
        title,
        content,
        image,
        cause,
        improvement,
        practice,
        category
        ) VALUES (
        #{title},
        #{content},
        #{image},
        #{cause},
        #{improvement},
        #{practice},
        #{category}
        )
    </insert>

    <update id="update">
        UPDATE lessons
        SET
        title = #{title},
        content = #{content},
        image = #{image},
        cause = #{cause},
        improvement = #{improvement},
        practice = #{practice},
        category = #{category}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM lessons
        WHERE id = #{id}
    </delete>

    <select id="findByCategory" resultType="com.golf.app.golfapp.model.Lesson">
        SELECT *
        FROM lessons
        WHERE category = #{category}
        ORDER BY id DESC
    </select>

</mapper>